{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],
  "rules": {
    "no-unused-vars": "off",
    "quotes": [
      "warn",
      "single"
    ],
    "jsx-quotes": [
      "warn",
      "prefer-single"
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.json"
      ],
      "rules": {
        "quotes": [
          "warn",
          "double"
        ],
      }
    },
  ]
}